# Mode natif léger : copier dans .env.local uniquement si ce fichier n’existe pas.
APP_ENV=dev
APP_ORIGIN=http://127.0.0.1:4200
DEFAULT_URI=http://127.0.0.1:8000
DATABASE_URL="sqlite:///%kernel.project_dir%/var/local.db"
MAILER_DSN=null://null
MERCURE_PUBLIC_URL=http://127.0.0.1:4200/.well-known/mercure
